<div class="container hero-unit">
<p id="notice"><%= notice %></p>

<h1>
  <%= @product.title %>
</h1>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Image url:</b>
  <%= @product.image_url %>
</p>

<p>
  <b>Price:</b>
  <%= '%.2f' % @product.price %>
</p>

<div class="btn-group">
<%= link_to 'Edit', edit_product_path(@product), :class => "btn" %> |
<%= link_to 'Back', products_path, :class=> "btn" %>
</div>
</div>
