- if notice
  .alert
    %button.close{"data-dismiss" => "alert", :type => "button"} &times;
    = notice
%h1 Catalog
- @products.each do |product|
  %h3.title= product.title
  .entry
    .product_image.product
      = image_or_default(product.image_url, :class => "btn")
    .info.product.product_info
      %p.product_info= sanitize(product.description)
      .price_line.product_info
        %span.price= number_to_currency(product.price)
      =form_tag line_items_url, :method => "create", :remote => true do
        = number_field_tag :quantity, 1, :min => 1
        = hidden_field_tag :product_id, product.id
        = submit_tag "Add to Cart", :class => "btn"
%p= will_paginate @products
