<!DOCTYPE html>
<html>
<head>
  <title>Depot Application</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
<div class="navbar">
    <div class="navbar-inner">
        <span class="brand">Bookshelf</span>
        <ul id="header" class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="#">Questions</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Contact</a></li>
            <li id="clock"></li>
        </ul>
    </div>
</div>
<div id="main" class="container-fluid">
  <div class="row-fluid">
    <div class="span8 store">
      <%= yield %>
    </div>
    <% if @cart %>
      <%= hidden_div_if(@cart.line_items.empty?, {id: "cart",  class: "well span4"}) do %>
        <%= render(@cart) %>
      <% end %>
    <% end %>
  </div>
</div>
</body>
</html>
